<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TweetStream</title>
  <link rel="stylesheet" href="styles/app.css">
</head>
<body ng-app="tweetStream" ng-cloak>

  <div ng-controller="globeController">
      
    <div id="globe" ng-model="globe">{{ globe }}</div>

    <div id="kwInput">
      <form ng-submit="search()">
        <input type="text" name="keyword" ng-model="keyword" placeholder="Enter a Keyword">
      </form>
    </div>

    <div id="tweetData">
      <div class="tweetNum">
        <h4>Number of Tweets</h4>
        <div class="target" ng-model="tweetTotal">{{ tweetTotal }}</div>
      </div>

      <div class="tweetVelocity">
        <h4>Velocity</h4>
        <div class="target" ng-model="tweetVelocity">{{ tweetVelocity }}</div>
      </div>

      <div class="tweetLoc">
        <h4>Tweet Locations</h4>
        <div class="target" ng-model="tweetLocation"><p ng-repeat="location in tweetLocations track by location.id">{{ location.loc }}</p></div>
      </div>
    </div>

    <div id="tweetPreview" ng-model="tweetPreview">{{ tweetPreview }}</div>

    <!-- <div id="pause">
      <button ng-click="toggleStream( on = !on )">Pause</button>
    </div> -->

  </div>

  
  
  
  
  <!-- // <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
  <script src="node_modules/socket.io-client/dist/socket.io.min.js"></script>
  <script src="js/ng-socket.js"></script>
  <script src="js/Detector.js"></script>
  <script src="js/three.min.js"></script>
  <script src="js/Tween.js"></script>
  <script src="js/globe.js"></script>
  <script src="js/ng-app.js"></script>
</body>
</html>